@page
@model casus_ouderenzorg.Pages.TransportOverviewModel
@{
    ViewData["Title"] = "Planned Transports Overview";
}

<div class="container mt-4">
    <h1 class="mb-4">Planned Transports Overview</h1>
    <a class="btn btn-success mb-3" href="/AddTransport">Add New Transport</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rit Number</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Driver</th>
                <th>Vehicle</th>
                <th>Caregiver</th>
                <th>Passengers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transport in Model.PlannedTransports)
            {
                <tr>
                    <td>@transport.RitNumber</td>
                    <td>
                        <div>@transport.DepartureAddress</div>
                        <div>@transport.DepartureTime.ToString("g")</div>
                    </td>
                    <td>
                        <div>@transport.ArrivalAddress</div>
                        <div>@transport.ArrivalTime.ToString("g")</div>
                    </td>
                    <td>@transport.SelectedDriver?.Name</td>
                    <td>@transport.SelectedVehicle?.Name</td>
                    <td>@transport.SelectedCaregiver?.Name</td>
                    <td>
                        @if (transport.Passengers != null && transport.Passengers.Any())
                        {
                            <ul class="list-unstyled">
                                @foreach (var passenger in transport.Passengers)
                                {
                                    <li>@passenger.Patient.Name</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <em>No Passengers</em>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
